@model NewCarViewModel
<form asp-controller="Cars" asp-actiron="Car" method="post">
    <input asp-for="name" />
    <input asp-for="name" />
    <input asp-for="name" />
    <input asp-for="name" />
    <input asp-for="name" />
    <input asp-for="name" />
    <input asp-for="name" />

    <button class="btn btn-primary" type="submit">Publish</button>
</form>